<header class="site-header">
  <div class="color-bar">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    <div class="bar bar4"></div>
    <div class="bar bar5"></div>
    <div class="bar bar6"></div>
  </div>

  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relURL }}">{{ site.Title }}</a>

    <nav class="site-nav">
      {{- range site.Menus.main }}
        {{- $external := hasPrefix .URL "http" -}}
        {{- $feed := strings.HasSuffix .URL ".xml" -}}
        <a class="page-link" href="{{ .URL }}"
          {{- if $external }} target="_blank" rel="noopener"{{ end -}}
          {{- if $feed }} hx-boost="false"{{ end -}}
        >{{ .Name }}</a>
      {{- end }}
    </nav>
  </div>
</header>
