{{- $title := .Title -}}
{{- if not .IsHome -}}
  {{- $title = printf "%s · %s" .Title site.Title -}}
{{- else -}}
  {{- $title = site.Title -}}
{{- end -}}
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ $title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">

  <link rel="preload" href="/fonts/bitter-latin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/bitter-latin-italic.woff2" as="font" type="font/woff2" crossorigin>

  {{- $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  {{- $htmx := resources.GetRemote "https://cdn.jsdelivr.net/npm/htmx.org@2.0.4/dist/htmx.min.js" | resources.Fingerprint -}}
  <script defer src="{{ $htmx.RelPermalink }}" integrity="{{ $htmx.Data.Integrity }}" crossorigin="anonymous"></script>

  {{- $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint -}}
  <script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ "/index.xml" | absURL }}">
  <link rel="icon" type="image/png" href="/favicon.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
</head>
