{{- $title := .Title -}}
{{- if not .IsHome -}}
  {{- $title = printf "%s · %s" .Title site.Title -}}
{{- else -}}
  {{- $title = site.Title -}}
{{- end -}}
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ $title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">

  {{- $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ "/index.xml" | absURL }}">
  <link rel="icon" type="image/png" href="/favicon.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Bitter:400,700,400italic:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>
