{{ define "main" }}
<div class="home">
  <h1 class="page-heading">Arquivo da tag '{{ .Title }}'</h1>
  <ul class="post-archives">
    {{- range .Pages }}
    <li>
      <span class="post-meta">{{ .Date | time.Format "2 de January, 2006" }}{{ with .Params.tags }} &bull; {{ range $i, $t := . }}{{ if $i }}, {{ end }}<a href="{{ printf "/tags/%s/" (urlize $t) | relURL }}">{{ $t }}</a>{{ end }}{{ end }}</span>
      <h2>
        <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
    </li>
    {{- end }}
  </ul>
</div>
{{ end }}
